<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content = "width=device-width, initial_scale = 1.0">

        <title>California House Price Predictor</title>
    </head>
    <body style="background: #000;">
        <div class="login">
            <h1 style="color:violet;" California House Price Prediciton></h1>

            <form action="{{url_for('predict')}}" method = "post">
                <input type = "text" name = "# of beds" required = "required"><br>
                <input type = "text" name = "# of bathrooms" required = "required"><br>
                <input type = "text" name = "Acre Lot Size" required = "required"><br>
                <input type = "text" name = "Zip Code" required = "required"><br>
                <input type = "text" name = "House Size" required = "required"><br>
                <input type = "text" name = "City" required = "required"><br>
                <input type = "text" name = "Previous Year Sold" required = "required"><p>

                <button type = "submit" class = "btn btn-primary btn-block btn-large">Prediction House Price!</button>
            </form>

            <br>
            <br>
            <h4 style="color:violet"> {{ prediction_text }}</h4>
        </div>
    </body>
</html>
